<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Master_Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Master_Forms.Properties.Settings>
            <setting name="selected_image_index" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="programmer_name" serializeAs="String">
                <value>Spencer Augenstein</value>
            </setting>
            <setting name="production_year" serializeAs="String">
                <value>2022-2023</value>
            </setting>
            <setting name="diary_username" serializeAs="String">
                <value />
            </setting>
            <setting name="diary_password" serializeAs="String">
                <value />
            </setting>
            <setting name="diary_icon" serializeAs="String">
                <value>C:\Users\23AugensteinS\Documents\Udemy\C#\Master Forms\Applications\Diary\pfps\1.jpg</value>
            </setting>
        </Master_Forms.Properties.Settings>
    </userSettings>
</configuration>